* {
    padding: 0;
    margin: 0;
}

html {
    background-image: url("../images/background.png");
    background-size: cover;
    font-family: 'Anton', sans-serif;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

#title-container {
    display: flex;
    align-items: center;
    margin-left: 31%;    
}

#title-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#minion-logo {
    width: 10%;
}

#headphones {
    width: 20%;
    position: fixed;
    top: 24.5%;
    right: 33.7%;
}

#play {
    margin-top: 2%;
    width: 15%;
    padding: 0 5% 0 5%;
    align-self: center;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #FFC107;
    border: none;
    font-size: 2em;
    border-radius: 25px;
    font-family: 'Anton', sans-serif;
}

#play:hover {
    cursor: pointer;
    background-color: white;
}

#game {
    margin-top: -10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-word-container {
    display: flex;
    flex-direction: row;
}

.word-letters {
    font-size: 2.5em;
}

#category-section {
    margin-top: -5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#category-section h1 {
    font-size: 5em;
}


#categories {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
}

.category-container {
    border-radius: 25px;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.category-container:hover {
    background-color: white;
    cursor: pointer;
}

.category-img {
    margin-top: 5%;
    width: 60%;
    align-self: center;
}
.category-container p {
    font-size: 2.5em;
}

.back-button {
    font-size: 2em;
    text-decoration: none;
    color: white;
    margin-top: 5%;
    text-align: center;
    width: 20%;
    background-color: rebeccapurple;
    border-radius: 25px;
}


.back-button:hover {
    background-color: white;
    border-radius: 25px;
    color: black;
}

#math-game {
    margin-top: -5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#math-game h1 {
    font-size: 4.5em;
    margin-bottom: 10%;
}

.game-img {
    width: 60%;
}

#math-problem-container {
    font-size: 2.5em;
    background-color: white;
    width: 70%;
    padding: 15% 20% 15% 20%;
    border: 5px black solid;
    text-align: center;
    margin-bottom: 5%;
}

#login-signup-container {
    margin-top: -10%;
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
    background-color: white;
    border: 5px black solid;
}
#login-signup-container h1 {
    font-size: 4em;
}

#login-signup {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 50%;
}

.label-text {
    font-size: 1.5em;
}
.input-field {
    background-color: #C8E9E8;
    font-size: 1.5em;
    text-align: center;
    border: 3px solid black;
}

input[type=submit] {
    margin-top: 5%;
    background-color: #C8E9E8;
    font-size: 1.3em;
    font-family: 'Anton', sans-serif;
    width: 40%;
    align-self: center;
    border: #C8E9E8;
    border: 3px solid black;
}

input[type=submit]:hover {
    cursor: pointer;
    color: black;
    border: 3px solid black;
    background-color: #FFC107;
}

.sign-up-button {
    margin-top: 2%;
    margin-bottom: 2%;
    color: black;
    text-decoration: none;
    background-color: #C8E9E8;
    font-size: 1.3em;
    font-family: 'Anton', sans-serif;
    width: 38%;
    align-self: center;
    border: #C8E9E8;
    border: 3px solid black;
}

.sign-up-button:hover {
    cursor: pointer;
    color: black;
    border: 3px solid black;
    background-color: #FFC107;
}

#dashboard-main-container {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    width: 70%;
}

.dashboard-sub-container {
    width: 60%;
    background-color: white;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#dashboard {
    margin-top: -15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#scores-mistakes {
    display: flex;
    flex-direction: row;

}

#scores {
    margin: 5% 0 5% 0;
    flex-direction: column;
    align-self: center;
    width: 100%;
}
#scores p {
    font-size: 1.3em;
}

.user-score-data {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}